# Testing requirements
pytest
coverage
pytest-cov
httpretty==0.8.14 # Use version available in epel RPM repositories
mock
Sphinx==1.7.9
requests_mock

# Install requirements
lxml
requests
flask
argcomplete

# TODO: docutils is required by python-daemon. Can be removed when this issue:
# https://pagure.io/python-daemon/issue/18 is solved
docutils
