pytest
coverage
pytest-cov
lxml
scandir
httpretty
paramiko
requests_mock
mock

# TODO: docutils is required by python-daemon. Can be removed when this issue:
# https://pagure.io/python-daemon/issue/18 is solved
docutils
