# Testing requirements
pytest
coverage
pytest-cov
mock
Sphinx==1.7.9
requests_mock
contextlib2; python_version <= '3.3'

# Install requirements
lxml
requests
argcomplete
six

# TODO: docutils is required by python-daemon. Can be removed when this issue:
# https://pagure.io/python-daemon/issue/18 is solved
docutils
